*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: antiquewhite;
  display: flex;
  gap: 20px;
  
  padding: 2% 3%;
}
header a{
  text-decoration: none;
}
header a:hover{
  color: brown;
}

.active{
  text-decoration: darkblue;
  color: black;
}
.active:hover{
  color: aqua;
}


/* html css */


aside{
  width: 20%;
  background-color: whitesmoke;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
/* navbar css */
/* heading{
  background-color: black;
  width: 100%;
} */
/* navbar img{
  width: 8%;
  background-color: whitesmoke;
} */